// Copyright 2018 Myabuy LLC. All rights reserved.
// Use of this source code is governed by a MIT-style license that can be found
// in the LICENSE file.

$button-size: 22;
$active-color: #efefef;
$list-file-size: 120;

[contenteditable]:focus {
	outline: none;
}

.compoz {
	border-top: solid 1px #eeeff1;
	background-color: #ffffff;
	height: 100%;
	position: relative;

	.hidden {
		display: none;
	}

	.compoz-input {
		overflow-y: auto;
		vertical-align: middle;
		margin: 8px;
		padding: 12px 30px 12px 20px;
		border-radius: 24px;
		background-color: #fafbff;
		border: solid 1px #dfdfdf;
		.hint {
			color: #b8b8b8;
		}
	}

	.compoz-input-expand {
		border-radius: 0px;
		border: none;
		background-color: #ffffff;
		border-bottom: solid 1px #dfdfdf;
		margin: 0px;
		padding-top: 20px;
	}
	.compoz-button-expand {
		position: absolute;
		top: 18px;
		right: 18px;
		cursor: pointer;
	}

	.compoz-file-list {
		width: 100%;
		max-height: #{$list-file-size}px;
		overflow-x: auto;
		overflow-y: hidden;
		display: flex;
	}
	.compoz-form-wrapper {
		width: 100%;
		overflow-x: auto;
		overflow-y: hidden;
	}

	.compoz-menu {
		margin: 8px 8px 16px 8px;
		cursor: pointer;

		.button {
			border-radius: 8px;
			color: black;
			cursor: pointer;
			display: inline-block;
			padding: 4px 8px;
			text-decoration: none;
			vertical-align: middle;

			&.compoz-b-active {
				background-color: $active-color;
			}
			&:hover {
				background-color: $active-color;
			}
			&.compoz-b-style {
				img {
					width: 23px;
					height: 25px;
				}
			}
			&.compoz-b-attachment {
				img {
					width: 20px;
					height: 20px;
				}
			}
			&.compoz-b-link {
				img {
					width: 20px;
					height: 20px;
				}
			}
		}

		.right {
			float: right;

			.compoz-b-discard {
				width: 82px;
				height: 32px;
				border-radius: 8px;
				background-color: #ffffff;
				border: solid 1px #c5c5c5;
				font-size: 14px;
				font-weight: 500;
				color: #5d636a;
				outline: none;
			}

			.compoz-b-send {
				img {
					width: 32px;
					height: 32px;
				}
			}
		}
	}
}

.compoz-file {
	background-color: white;
	border-radius: 6px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	font-size: 11px;
	height: #{$list-file-size - 50}px;
	margin: 2px 4px;
	padding: 4px;
	position: relative;
	text-align: center;
	vertical-align: middle;
	width: #{$list-file-size - 50}px;
	word-wrap: break-word;

	div {
		width: #{$list-file-size - 60}px;
	}

	.name {
		position: absolute;
		bottom: 4px;
	}

	.icon {
		width: 30px;
		height: 30px;
		margin-top: 10px;
	}

	.delete {
		background-color: rgba(0, 0, 0, 0.4);
		border-radius: 50%;
		border: 1px solid silver;
		color: white;
		cursor: pointer;
		font-weight: 600;
		height: 14px;
		margin: 4px;
		position: absolute;
		right: 0px;
		top: 0px;
		width: 14px;
	}
}

.compoz-form-styles {
	height: 2em;
	margin: 8px 0px;

	span {
		color: black;
		cursor: pointer;
		margin: 0px;
		padding: 8px;
		text-decoration: none;

		-moz-user-select: none;
		-ms-user-select: none;
		-webkit-user-select: none;
		user-select: none;
	}
	.bold {
		font-weight: 800;
	}
	.italic {
		font-style: italic;
	}
	.underline {
		text-decoration: underline;
	}
}

.compoz-form-link {
	background: #dedede;
	border-radius: 8px;
	padding: 6px;
	overflow: hidden;
	text-align: center;

	.row {
		margin-top: 6px;
	}
	label {
		display: inline-block;
		width: 60px;
		padding-right: 1em;
	}
	input {
		width: calc(100% - 100px);
	}
	.footer {
		margin-right: 7px;

		.error {
			padding-left: 10px;
			display: inline-block;
			width: calc(100% - 110px);
			color: #cb0d0d;
		}
	}
}

.compoz-popup-link {
	background: white;
	border: 1px solid grey;
	border-radius: 6px;
	position: absolute;
	visibility: hidden;
	padding: 6px 4px;
	max-width: 400px;

	span {
		padding: 4px;
		color: #2aa198;
	}
	a {
		&:link {
			color: #2aa198;
		}
		&:visited {
			color: #2aa198;
		}
	}
}
