// Copyright 2018 Myabuy LLC. All rights reserved.
// Use of this source code is governed by a MIT-style license that can be found
// in the LICENSE file.

$button-size: 22;
$active-color: #ff721d;
$list-file-size: 120;

[contenteditable]:focus {
	outline: none;
}

.compoz {
	border-top: solid 1px #eeeff1;
	background-color: #ffffff;
	height: 100%;
	position: relative;

	.hidden {
		display: none;
	}

	.compoz-input {
		overflow-y: auto;
		vertical-align: middle;
		margin: 8px;
		padding: 12px 30px 12px 20px;
		border-radius: 24px;
		background-color: #fafbff;
		border: solid 1px #dfdfdf;
		.hint {
			color: #b8b8b8;
		}
	}

	.compoz-input-expand {
		border-radius: 0px;
		border: none;
		background-color: #ffffff;
		border-bottom: solid 1px #dfdfdf;
		margin: 0px;
		padding-top: 20px;
	}
	.compoz-button-expand {
		position: absolute;
		top: 18px;
		right: 18px;
		cursor: pointer;
	}

	.compoz-file-list {
		width: 100%;
		max-height: #{$list-file-size}px;
		overflow-x: auto;
		overflow-y: hidden;
		display: flex;
	}
	.compoz-input-wrapper {
		width: 100%;
		overflow-x: auto;
		overflow-y: hidden;
	}

	.compoz-input-link {
		height: 2em;
		margin: 8px 0px;
		width: 100%;

		input {
			display: inline-block;
			width: calc(100% - 120px);
			vertical-align: middle;
			border: 1px solid silver;
			border-radius: 4px;
			padding: 4px;
		}
		button {
			display: inline-block;
			width: 100px;
		}
	}

	.compoz-styles {
		height: 2em;
		margin: 8px 0px;

		a {
			margin: 0px;
			padding: 8px;
			text-decoration: none;
			color: black;
		}

		.bold {
			font-weight: 800;
		}
		.italic {
			font-style: italic;
		}
		.underline {
			text-decoration: underline;
		}
	}

	.compoz-menu {
		margin: 8px 8px 16px 8px;

		a {
			text-decoration: none;
			color: black;
			padding: 4px 8px;
			border-radius: 8px;

			&.compoz-b-active {
				background-color: $active-color;
			}
		}

		.button {
			display: inline-block;
			vertical-align: middle;
			&.compoz-b-style {
				img {
					width: 23px;
					height: 25px;
				}
			}
			&.compoz-b-attach {
				img {
					width: 20px;
					height: 20px;
				}
			}
		}

		.right {
			float: right;

			.compoz-b-discard {
				width: 82px;
				height: 32px;
				border-radius: 8px;
				background-color: #ffffff;
				border: solid 1px #c5c5c5;
				font-size: 14px;
				font-weight: 500;
				color: #5d636a;
				outline: none;
			}

			.compoz-b-send {
				img {
					width: 32px;
					height: 32px;
				}
			}
		}
	}
}

.compoz-file {
	background-color: white;
	border-radius: 6px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	font-size: 11px;
	height: #{$list-file-size - 50}px;
	margin: 2px 4px;
	padding: 4px;
	position: relative;
	text-align: center;
	vertical-align: middle;
	width: #{$list-file-size - 50}px;
	word-wrap: break-word;

	div {
		width: #{$list-file-size - 60}px;
	}

	.name {
		position: absolute;
		bottom: 4px;
	}

	.icon {
		width: 30px;
		height: 30px;
		margin-top: 10px;
	}

	.delete {
		background-color: rgba(0, 0, 0, 0.4);
		border-radius: 50%;
		border: 1px solid silver;
		color: white;
		cursor: pointer;
		font-weight: 600;
		height: 14px;
		margin: 4px;
		position: absolute;
		right: 0px;
		top: 0px;
		width: 14px;
	}
}

// vim: set ts=4 sw=4 noexpandtab:
